/*http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


body
{
	background-color: #303030;
	color: #ffe7d6;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
	font-size: 15px;
}

.square
{
	width: 50%;
	float: left;
}

.kafelek
{
	margin: 10px;
	width: 190px;
	height: 102px;
	background-color: #445A1E;
	float: left;
	font-size: 27px;
	text-align: center;
	padding: 20px;
}

.kafelek:hover
{
	background-color: #334A0D;
}

#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 600px;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
	/*background-color: #2084c2;*/
}

#logo_new
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 90px;
	width: 600px;
	text-align: left;
	margin-bottom: 10px;

	/*background-color: #2084c2;*/
}

#zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}

.tile1
{
	margin: 10px;
	width: 190px;
	height: 102px;
	background-color: #3095d3;
	float: left;
	font-size: 35px;
	text-align: center;
	padding: 20px;
}

.tile1:hover
{
	background-color: #1073b1;
}

.tile6
{
	margin: 10px;
	width: 190px;
	height: 102px;
	background-color: #d94348;
	float: left;
	font-size: 35px;
	text-align: center;
	padding: 20px;
}



.tile2
{
	margin: 10px;
	width: 190px;
	height: 102px;
	background-color: #666666;
	float: left;
	font-size: 31px;
	text-align: center;
	padding: 20px;
}

.tile2:hover
{
	background-color: #555555;
}

.tile3
{
	margin: 10px;
	width: 190px;
	height: 102px;
	background-color: #93c748;
	float: left;
	font-size: 35px;
	text-align: center;
	padding: 20px;
}

.tile3:hover
{
	background-color: #82b637;
}

.tile4
{
	margin: 10px;
	width: 420px;
	height: 82px;
	background-color: #ee5a32;
	font-size: 20px;
	text-align: center;
	padding: 30px;
	line-height: 150%;

}

.zdjecia
{
	margin: 10px;
	width: 420px;
	height: 406px;
}



a.tilelink
{
	color: #ffe7d6;
	text-decoration: none;
}

.logowanie
{
	margin: 0px 20px;
	width: 300px;
	/*height: 200px;*/
	/*background-color: #999779;*/
	float: left;
	font-size: 15px;

	text-align: left;
	padding: 25px;
}

.row 
{
	margin: 0px 10px;
	width: 900px;
	/*height: 200px;*/
	/*background-color: #222222;*/
	float: left;
	font-size: 15px;
	/*color: #000000;
	line-height: 40%;*/
	text-align: center;
	padding: 20px;
}

.wstep
{
	width: 400px;
	height: 200px;
	margin: 20px 10px;
	/*background-color: #999999;*/
	float: left;
	font-size: 30px;
	/*color: #000000;*/
	text-align: center;
	padding: 10px;
}


.color
{
	display: inline-block;
	margin: 400px 70px;
}

/*WERSJA TOMKA

 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Kavoon', cursive;
	background-color: #FFECC3;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
.logo {
	display: flex;
	flex-direction: row;
	width: 60vw;
	height: 20vh;
	font-size: 96px;
	color: black;
	margin: 20px;
	padding: 20px;

}

.logo img {
	width: 300px;
	height: 200px;
}
.logo h1 {
	padding-top: 50px;
}

.container {
	background-color: black;
}

.guziczek {
	padding: 10px;
	margin: 20px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	background-color: darkred;
	color: aliceblue;
	font-family: 'Kavoon', cursive;
}
.guziczek :hover{
	font-size: 24px;

}
*/