
.icon-mail:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-globe:before { content: '\f018'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
