
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-facebook-1:before { content: '\e804'; } /* '' */
.icon-youtube:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-twitter-1:before { content: '\e807'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
