<!DOCTYPE HTML>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <title>Politechniczne Zoo</title>
    <meta name="description" content="Witamy w naszym bajecznym ogrodzie zoologicznym!"/>
    <meta name="keywords" content="zwierzeta, zwierze, zoo, ogrod, zoologiczny" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- Nie wiem dlaczego, ale plik styles.css działa tylko ze ścieżką bezwględna -->
    <link rel="stylesheet" href="C:\Users\Lena\Desktop\ProjektSQL\SQLWebApp\market\static\styles.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="timer.js"></script>

</head>

<body onload="odliczanie();">

<div id="container">

    <div class="rectangle">
        <div id="logo_new">
            <img src="img/logo2.png" height=20% width=20% />
            <a href="index.html" class="tilelink">Mini Zoo
            </a>
        </div>
        <div id="logo_przeglad">USUWANIE DANYCH</div>
        <!--<div id="zegar">13:00</div>-->
        <div style="clear:both;"></div>
    </div>

    <div class="lewo_lista">

        <div class="wybierz">
            <fieldset>
                <legend> Zaznacz wiersze, które chcesz usunąć: </legend>
                <div class="kolumny">
                    <div><label><input type="checkbox" name="wyp[]" value="1">1</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="2">2</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="3">3</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="4">4</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="5">5</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="6">6</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="7">7</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="8">8</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="9">9</label></div>
                    <div><label><input type="checkbox" name="wyp[]" value="10">10</label></div>
                </div>
            </fieldset>
            <br>
            <input type="submit" value="Usuń wiersze">
        </div>

        <div style="clear:both;"></div>
    </div>

    <div class="tabela">
        <table>
            <thead>
            <tr> <th>Przedmiot <th>Nazwisko <th> Ocena <th> Przedmiot <th> Przedmiot <th> Przedmiot
            <tbody>
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Nowak <td> 2 <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Mazur <td> 4 <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Nowak <td> 2 <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Mazur <td> 4 <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Nowak <td> 2 <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Mazur <td> 4 <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td>Historia<td> Historia
            <tr> <th> Fizyka   <td> Nowak <td> 2 <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Mazur <td> 4 <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
        </table>
    </div>

    <div style="clear:both;"></div>
    <div class="rectangle">2021 &copy; Lena Ptak, Tomasz Pieścikowski <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl, tomasz.piescikowski@student.put.poznan.pl</div>

</div>
</body>

</html>


