<!DOCTYPE HTML>
<html lang="pl">


<head>
	<meta charset="utf-8"/>
	<title>Politechniczne Zoo</title>
	<meta name="description" content="Witamy w naszym bajecznym ogrodzie zoologicznym!"/>
	<meta name="keywords" content="zwierzeta, zwierze, zoo, ogrod, zoologiczny" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<!-- Nie wiem dlaczego, ale plik styles.css działa tylko ze ścieżką bezwględna -->
	<link rel="stylesheet" href="C:\Users\Lena\Desktop\ProjektSQL\SQLWebApp\market\static\styles.css" type="text/css" />
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>


<body>
<div id="container">

	<div class="rectangle">
		<div id="logo_new">
			<img src="img/logo2.png" height=20% width=20% />
			<a href="index.html" class="tilelink">Mini Zoo
			</a>
		</div>
		<div id="logo_przeglad">DODAWANIE DANYCH</div>
		<!--<div id="zegar">13:00</div>-->
		<div style="clear:both;"></div>
	</div>

	<main>
		<article>
			<form action="order.php" method="post">
				<div class="dodaj_dane_wstep">
					Wypełnij formularz, aby dodać nowy gatunek.
				</div>
				<div class="pyt_formularz">
					<fieldset>
						<legend>Podaj nazwę gatunku</legend>
						<label><input type="text" required minlength="1" maxlength="50"></label>
					</fieldset>
				</div>
				<div class="pyt_formularz">
					<input type="submit" value="Zatwierdź">
				</div>
				<div style="clear:both;"></div>
				<div class="rectangle">2021 &copy; Tomasz Pieścikowski, Lena Ptak - System do zarządania bazą danych <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl</div>
			</form>
		</article>
	</main>
</div>
</body>
</html>
