{% include "base.html" %}
<body>
   <div id="container">
      <div class="rectangle">
         <div id="logo_new">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" height=20% width=20% />
            <a href="index.html" class="tilelink">Mini Zoo
            </a>
         </div>
         <div id="logo_przeglad">DODAWANIE DANYCH</div>
         <!--<div id="zegar">13:00</div>-->
         <div style="clear:both;"></div>
      </div>

      <main>
         <article>
            <form method="post">
               {{ form.hidden_tag() }}
               {{ form.IDENTYFIKATOR_ZWIERZECIA.label(class="form-label") }}
               {{ form.IDENTYFIKATOR_ZWIERZECIA(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.GATUNEK.label(class="form-label") }}
               {{ form.GATUNEK(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.RODZINA.label(class="form-label") }}
               {{ form.RODZINA(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.GROMADA.label(class="form-label") }}
               {{ form.GROMADA(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.IMIE.label(class="form-label") }}
               {{ form.IMIE(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.WLASCICIEL.label(class="form-label") }}
               {{ form.WLASCICIEL(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.KARMA.label(class="form-label") }}
               {{ form.KARMA(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.ILOSC_KARMY.label(class="form-label") }}
               {{ form.ILOSC_KARMY(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.PORA_KARMIENIA.label(class="form-label") }}
               {{ form.PORA_KARMIENIA(class="form-control") }}
               <br>
               {{ form.hidden_tag() }}
               {{ form.AZYL.label(class="form-label") }}
               {{ form.AZYL(class="form-control") }}
               <br>
               {{ form.submit(class="btn btn-primary") }}
               <div style="clear:both;"></div>
               <div class="rectangle">2021 &copy; Tomasz Pieścikowski, Lena Ptak - System do zarządania bazą danych <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl</div>
            </form>
         </article>
      </main>
   </div>
</body>
</html>