<!DOCTYPE HTML>
<html lang="pl">


<head>
	<meta charset="utf-8"/>
	<title>Politechniczne Zoo</title>
	<meta name="description" content="Witamy w naszym bajecznym ogrodzie zoologicznym!"/>
	<meta name="keywords" content="zwierzeta, zwierze, zoo, ogrod, zoologiczny" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	
	<!-- Nie wiem dlaczego, ale plik styles.css działa tylko ze ścieżką bezwględna -->
	<link rel="stylesheet" href="C:\Users\Lena\Desktop\ProjektSQL\SQLWebApp\market\static\styles.css" type="text/css" /> 
	<link rel="stylesheet" href="css/fontello.css" type="text/css" /> 
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>


<body>
	<div id="container">

		<div class="logo">
			<div id="logo">
				<a href="index.html" class="tilelink">Księżycowe Zoo</a>
			</div>
		</div>
		
		<main>
			<article>
				<form action="order.php" method="post">

					<div class="wstep">
						Wypełnij formularz, aby dodać nowe zwierzę.
					</div>

					<div class="logowanie">
						<label>Podaj swoje imię: <br></br>
							<input type="text" name="imie" placeholder="Jak masz na imię?"></label>
						<br></br>
						<label>Podaj hasło: <br></br>
							<input type="password" name="haslo" placeholder="Hasło?"></label>
						<!--<label>gdzie  <input type="search" name="fraza"</label>-->
					</div>

					<div class="row">
						<fieldset>
							<legend> Wybierz gromadę zwierzęcia </legend>
									
								<div><label><input type="radio" value="1" name="gromada" checked>ssak</label></div>
								<div><label><input type="radio" value="2"name="gromada">ptaki</label></div>
								<div><label><input type="radio" value="3"name="gromada">płazy</label></div>
								<div><label><input type="radio" value="4"name="gromada">gady</label></div>
								<div><label><input type="radio" value="5"name="gromada">owady</label></div>
								<div><label><input type="radio" value="6"name="gromada">pajęczaki</label></div>
								<div><label><input type="radio" value="7"name="gromada">krążkopławy</label></div>
						</fieldset>
					</div>
							
					<div class="row">
						<fieldset>
							<!--<label for="rodzina">-->
								<legend> Wybierz rodzinę zwierzęcia </legend>
							<!--</label>-->
							<select id="rodzina1">
								<option value="koczkodanowate">koczkodanowate</option>
								<option value="jeleniowate">jeleniowate</option>
								<option value="kotowate" selected>kotowate</option>
								<option value="psowate">psowate</option>
							</select>
						</fieldset>
					</div>

					<div class="row">
						<fieldset>
							<legend> Jaki rodzaj karmy będzie przyjmowało zwierzę </legend>
							<div class="col">
								<div><label><input type="checkbox" name="wyp[]" value="1" disabled checked> woda</label></div>
								<div><label><input type="checkbox" name="wyp[]" value="1"> pasza</label></div>
								<div><label><input type="checkbox" name="wyp[]" value="2"> mięso</label></div>
								<div><label><input type="checkbox" name="wyp[]" value="3"> robaki</label></div>
								<div><label><input type="checkbox" name="wyp[]" value="4"> mleko</label></div>
							</div>
						</fieldset>
					</div>

					<div class="row">
						<fieldset>
							<legend>Podaj ilość karmy w kilogramach </legend>
							<label><input type="number" name="ilosc" step="0.1"></label>
						</fieldset>
					</div>

					<div class="row">
						<fieldset>
							<legend>Kto jest właścicielem zwierzęcia?</legend>
							<div style="margin-top:10px;">
								<label for="rodzina">
									<select id="rodzina" name="zwierze">
										<option value="a"  selected>Krystyna Ziombel</option>
										<option value="b">Kowalski Piotr</option>
										<option value="c">Aneta Różańska</option>
										<option value="d">Jan Majonez</option>
										<option value="d">Jan Bystry</option>
										<option value="d">Jan Wielki</option>
									</select>
								</label>
							</div>
						</fieldset>
					</div>
							
					<div class="row">
						<fieldset>
							<legend>Podaj wiek zwierzęcia</legend>
							<label>  <input type="number" step="1"></label>
						</fieldset>
					</div>

					<div class="row">
						<input type="submit" value="Zatwierdź">
						<!--<input type="button" value="Zatwierdź button">
						<button type="button">Ok! button</button>-->
					</div>

					<div style="clear:both;"></div>
					<div class="rectangle">2021 &copy; Tomasz Pieścikowski, Lena Ptak - System do zarządania bazą danych <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl</div>
				</form>
			</article>
		</main>
	</div>
</body>
</html>
