<!DOCTYPE HTML>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <title>Politechniczne Zoo</title>
    <meta name="description" content="Witamy w naszym bajecznym ogrodzie zoologicznym!"/>
    <meta name="keywords" content="zwierzeta, zwierze, zoo, ogrod, zoologiczny" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- Nie wiem dlaczego, ale plik styles.css działa tylko ze ścieżką bezwględna -->
    <link rel="stylesheet" href="C:\Users\Lena\Desktop\ProjektSQL\SQLWebApp\market\static\styles.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="timer.js"></script>

</head>

<body onload="odliczanie();">

<div id="container">

    <div class="rectangle">
        <div id="logo_new">
            <div id="logo_przeglad">
                <img src="img/logo2.png" height=20% width=20% />
                <a href="index.html" class="tilelink">PRZEGLĄD ZAAWANOSOWANY</a>
            </div>
        </div>
        <!--<div id="zegar">13:00</div>-->
        <div style="clear:both;"></div>
    </div>

    <div class="lewo_lista">

        <div class="wybierz">
            <fieldset>
            <legend> Szukaj danych w tabeli: </legend>
            <select id="dane">
                <option value="ZWIERZĘTA">ZWIERZĘTA</option>
                <option value="GATUNKI">GATUNKI</option>
                <option value="RODZINY" selected>RODZINY</option>
                <option value="GROMADY">GROMADY</option>
                <option value="GROMADY">KARMY</option>
                <option value="GROMADY">PRAWCOWNICY</option>
                <option value="GROMADY">BILETY</option>
                <option value="GROMADY">AZYLE</option>
            </select>
            </fieldset>

        <fieldset>
            <legend> Wybierz dane: </legend>
            <div class="col">
                <div><label><input type="checkbox" name="wyp[]" value="1" disabled checked> nazwa karmy</label></div>
                <div><label><input type="checkbox" name="wyp[]" value="1"> cena za kilogram</label></div>
                <div><label><input type="checkbox" name="wyp[]" value="2"> producent</label></div>
                <div><label><input type="checkbox" name="wyp[]" value="3"> nr tel. do producenta</label></div>
            </div>
        </fieldset>
        <fieldset>
            <legend> Dodaj warunek: </legend>
            <select id="wybrane_cechy">
                <option value="cecha1">cecha1</option>
                <option value="cecha2">cecha2</option>
                <option value="cecha3">cecha3</option>
                <option value="cecha4">cecha4</option>
            </select>
            <select id="operator">
                <option value="operator1">></option>
                <option value="operator2"><</option>
                <option value="operator3">=</option>
                <option value="operator4">=<</option>
                <option value="operator5">=></option>
            </select>
            <input type="number" step="1">
        </fieldset>
        <br>
        <input type="submit" value="Pokaż tabelę">
        </div>

        <div style="clear:both;"></div>
    </div>

    <div class="tabela">
        <table>
            <thead>
            <tr> <th>Przedmiot <th>Nazwisko <th> Ocena <th> Przedmiot <th> Przedmiot <th> Przedmiot
            <tbody>
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Nowak <td> 2 <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Mazur <td> 4 <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Nowak <td> 2 <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Mazur <td> 4 <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Nowak <td> 2 <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Mazur <td> 4 <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td>Historia<td> Historia
            <tr> <th> Fizyka   <td> Nowak <td> 2 <td> Historia <td> Historia<td> Historia
            <tr> <th> Fizyka   <td> Mazur <td> 4 <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Nowak <td> 4+ <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
            <tr> <th> Historia <td> Mazur <td> 3- <td> Historia <td> Historia<td> Historia
        </table>
    </div>

    <div style="clear:both;"></div>
    <div class="rectangle">2021 &copy; Lena Ptak, Tomasz Pieścikowski <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl, tomasz.piescikowski@student.put.poznan.pl</div>

</div>
</body>

</html>


