{% include "base.html" %}
<div class="back"><a href="{{ url_for('select_choose_page') }}" class="tilelink">WRÓĆ</a></div>
<div id="container_select">
    <div class="rectangle">
        <div id="logo_new">
        <div id="logo_przeglad">
            <a href="{{url_for('root_page')}}"><img src="{{ url_for('static', filename='img/logo2.png') }}" height=20% width=20% /></a>
            <a href="{{ url_for('select_advanced_page', tabela='brak') }}" class="tilelink">PRZEGLĄD ZAAWANSOWANY</a>
        </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <h2>Tu możesz wyświetlić konkretne cechy i określić odpowiednie warunki:</h2>
    <div class="to_flex">
    <div class="lewo_lista_select">
        <a href="{{ url_for('select_advanced_page', tabela='ZWIERZETA') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-giraffe"></i>ZWIERZĘTA
        </div>
        </a>
        <div style="clear:both;"></div>
        <a href="{{ url_for('select_advanced_page', tabela='GATUNKI') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-th-list"></i>GATUNKI
        </div>
        </a>
        <div style="clear:both;"></div>
        <a href="{{ url_for('select_advanced_page', tabela='RODZINY') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-th-list"></i>RODZINY
        </div>
        </a>
        <div style="clear:both;"></div>
        <a href="{{ url_for('select_advanced_page', tabela='GROMADY') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-th-list"></i>GROMADY
        </div>
        </a>
        <div style="clear:both;"></div>
        <a href="{{ url_for('select_advanced_page', tabela='KARMY') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-th-list"></i>KARMY
        </div>
        </a>
        <div style="clear:both;"></div>
        <a href="{{ url_for('select_advanced_page', tabela='PRACOWNICY') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-th-list"></i>PRACOWNICY
        </div>
        </a>
        <div style="clear:both;"></div>
        <a href="{{ url_for('select_advanced_page', tabela='ZESPOLY') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-th-list"></i>ZESPOŁY
        </div>
        </a>
        <div style="clear:both;"></div>
        <a href="{{ url_for('select_advanced_page', tabela='BILETY') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-th-list"></i>BILETY
        </div>
        </a>
        <div style="clear:both;"></div>
        <a href="{{ url_for('select_advanced_page', tabela='AZYLE') }}" class="tilelink">
        <div class="nazwa_tab">
            <i class="icon-th-list"></i>AZYLE
        </div>
        </a>
        <div style="clear:both;"></div>
    </div>

    <div class="tabela">
        <table>
        <tr>
            {% if headings|length >= 5 %}
                {% for header in headings %}
                <th style="padding: 4px 4px; font-size: 20px;">{{ header }}</th>
                {% endfor %}
            {% else %}
                {% for header in headings %}
                <th style="padding: 8px 16px; font-size: 26px;">{{ header }}</th>
                {% endfor %}
            {% endif %}
        </tr>

        {% if headings|length >= 5 %}
            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td style="padding: 4px 4px; font-size: 20px;">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% else %}
            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td style="padding: 8px 16px; font-size: 26px;">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        {% endif %}


       
        </table>
    </div>
    <div style="clear:both;"></div>
    <div class="rectangle">2021 &copy; Lena Ptak, Tomasz Pieścikowski <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl, tomasz.piescikowski@student.put.poznan.pl</div>
</div>
</div>
</body>
</html>