<!DOCTYPE html>
<html lang="utf-8">
<head>
    <link rel="icon" type="image/png" href="https://img.icons8.com/office/16/000000/lion.png"/>
    <link rel="icon" type="image/png" href="https://img.icons8.com/office/30/000000/lion.png"/>
    <link rel="icon" type="image/png" href="https://img.icons8.com/office/40/000000/lion.png"/>
    <link rel="icon" type="image/png" href="https://img.icons8.com/office/80/000000/lion.png"/>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Mini ZOO</title>
</head>
<body>

<div class="logo">
    <h1>Mini ZOO</h1>
    <img src="/static/img/logo2.png" alt="ZOO's logo">
</div>

<div class="container">
    <button class="guziczek"><h1>Obszary ZOO</h1></button>
    <button class="guziczek"><h1>Pawilony</h1></button>
    <button class="guziczek"><h1>Zwierzeta</h1></button>
    <button class="guziczek"><h1>Rosliny ZOO</h1></button>
</div>

<br>
<br>
<h1><a href="http://127.0.0.1:5000/strona_leny">Click!</a></h1>

<!--<a href="https://icons8.com/icon/60098/bear-footprint">Favicons source</a>-->

</body>
</html>