<!DOCTYPE HTML>
<html lang="pl">

<head>
	<meta charset="utf-8"/>
	<title>Politechniczne Zoo</title>
	<meta name="description" content="Witamy w naszym bajecznym ogrodzie zoologicznym!"/>
	<meta name="keywords" content="zwierzeta, zwierze, zoo, ogrod, zoologiczny" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<!-- Nie wiem dlaczego, ale plik styles.css działa tylko ze ścieżką bezwględna -->
	<link rel="stylesheet" href="C:\Users\Lena\Desktop\ProjektSQL\SQLWebApp\market\static\styles.css" type="text/css" />
	<link rel="stylesheet" href="css/fontello.css" type="text/css" /> 
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	<script src="timer.js"></script>
	
</head>

<body onload="odliczanie();"> 

	<div id="container">
	
		<div class="rectangle">
			<div id="logo">
			<a href="index.html" class="tilelink">Księżycowe Zoo
			</a>
			</div>
			<!--<img src="img/logo2.png" height=30% width=30% />-->
			<div id="zegar">13:00</div>
			<div style="clear:both;"></div>
		</div>
		
		<div class="square">
			<a href="kimjestesmy.html" class="tilelink">
			<div class="tile1">
				<i class="icon-users"></i>Kim jesteśmy?
			</div>
			</a>
			<a href="oferta.html" class="tilelink">
			<div class="tile1">
				<i class="icon-users"></i>Nasi pracownicy
			</div>
			</a>
			<div style="clear:both;"></div>
			<a href="kontakt.html" class="tilelink">
			<div class="tile2">
				<i class="icon-mail"></i>
				Napisz do nas!
			</div>
			</a>
			<a href="zwierzeta.html" class="tilelink">
			<div class="tile3">
				<i class="icon-giraffe"></i>
				Nasze zwierzęta
			</div>
			</a>
			<div style="clear:both;"></div>
			
			<div class="tile4">
				<i>Serce człowieka można poznać po tym, jak traktuje zwierzęta.</i>
				<br>
				Immanuel Kant
			</div>
		</div>
		<div class="square">
			<div class="tile5">
				To jest podstrona strony głównej.
				SIEMAAAAAAA!
				Jesteśmy zajebiści i będziemy mieć zajebisty projekt. :)
			</div>
			<div class="yt">
				<br></br>
				<i class="icon-youtube"></i></div>
			<div class="fb">
				<br></br>
				<i class="icon-facebook-1"></i>
			</div>
			<div class="gplus">
				<br></br>
				<i class="icon-gplus"></i>
			</div>
			<div class="tw">
				<br></br>
				<i class="icon-twitter-1"></i> 
			</div>
			
		</div>
		<div style="clear:both;"></div>
		
		<div class="rectangle">2021 &copy; Lena Ptak - System do zarządania bazą danych <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl</div>

	</div>
</body>

</html>