<!DOCTYPE html>
<html lang="utf-8">
<head>
    <link rel="icon" type="image/png" href="https://img.icons8.com/office/16/000000/lion.png"/>
    <link rel="icon" type="image/png" href="https://img.icons8.com/office/30/000000/lion.png"/>
    <link rel="icon" type="image/png" href="https://img.icons8.com/office/40/000000/lion.png"/>
    <link rel="icon" type="image/png" href="https://img.icons8.com/office/80/000000/lion.png"/>
{#    TU podłączasz plik CSS --->>     <link rel="stylesheet" href="/static/styles.css">#}
    <title>Mini ZOO</title>
</head>
<body>

    <h1>Dzień Dobry Leno</h1>

    <p>Twoim zadaniem jest nauczyć się tworzenia stron za pomocą HTML i CSS</p>
    <p>
        <a href="https://www.w3schools.com/html/default.asp">moze sie przydac</a>
        <a href="https://www.w3schools.com/css/">a pozniej to</a>
        <a href="https://www.youtube.com/watch?v=hRtMPOSLAVo&list=PLTs20Q-BTEMPyddB4Y1Ij3lRme0PjTwti&ab_channel=SamurajProgramowania">a tu fajny tutorial</a>


    </p>
    <br>
    <p>Powodzenia !!!!</p>
{#
    tutaj budujesz swoja strone

    w tym projekcie modyfikujesz pliki css i html

    mozesz wymyslac rozne koncepcje

    ruszasz tylko foldery static, template i plik routes.py, gdzie laczysz te pliki z silnikiem Flaska

    ja zajmuje sie cala reszta logiki


#}


<!--<a href="https://icons8.com/icon/60098/bear-footprint">Favicons source</a>-->
</body>
</html>