<!DOCTYPE HTML>
<html lang="pl">

<head>
	<meta charset="utf-8"/>
	<title>Politechniczne Zoo</title>
	<meta name="description" content="Witamy w naszym bajecznym ogrodzie zoologicznym!"/>
	<meta name="keywords" content="zwierzeta, zwierze, zoo, ogrod, zoologiczny" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<!-- Nie wiem dlaczego, ale plik styles.css działa tylko ze ścieżką bezwględna -->
	<link rel="stylesheet" href="C:\Users\Lena\Desktop\ProjektSQL\SQLWebApp\market\static\styles.css" type="text/css" />
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<script src="timer.js"></script>

</head>

<body onload="odliczanie();">

<div id="container">

	<div class="rectangle">
		<div id="logo_new">
			<div id="logo_przeglad">
				<img src="img/logo2.png" height=20% width=20% />
				<a href="index.html" class="tilelink">EDYCJA DANYCH</a>
			</div>

		</div>
		<!--<div id="zegar">13:00</div>-->
		<div style="clear:both;"></div>
	</div>

	<div class="square">
		<a href="Edycja/edycja_zwierze.html" class="tilelink">
			<div class="kafelek">
				</i>ZWIERZĘ
			</div>
		</a>
		<a href="Edycja/edycja_karma.html" class="tilelink">
			<div class="kafelek">
				</i>KARMA
			</div>
		</a>
		<div style="clear:both;"></div>
		<a href="Edycja/edycja_gatunek.html" class="tilelink">
			<div class="kafelek">
				</i>GATUNEK
			</div>
		</a>
		<a href="Edycja/edycja_rodzina.html" class="tilelink">
			<div class="kafelek">
				</i>RODZINA
			</div>
		</a>
		<div style="clear:both;"></div>

		<a href="Edycja/edycja_pawilon.html" class="tilelink">
			<div class="kafelek">
				</i>PAWILON
			</div>
		</a>
		<a href="Edycja/edycja_bilet.html" class="tilelink">
			<div class="kafelek">
				</i>BILET
			</div>
		</a>
		<div style="clear:both;"></div>
	</div>

	<div class="square">
		<a href="Edycja/edycja_pracownik.html" class="tilelink">
			<div class="kafelek">PRACOWNIK
			</div>
		</a>
		<a href="Edycja/edycja_zespol.html" class="tilelink">
			<div class="kafelek">
				</i>ZESPÓŁ
			</div>
		</a>
		<div style="clear:both;"></div>
		<a href="Edycja/edycja_typ_prac.html" class="tilelink">
			<div class="kafelek">
				</i>TYP PRACOWNIKA
			</div>
		</a>
		<a href="Edycja/edycja_gromada.html" class="tilelink">
			<div class="kafelek">
				</i>GROMADA
			</div>
		</a>
		<div style="clear:both;"></div>

		<a href="Edycja/edycja_azyl.html" class="tilelink">
			<div class="kafelek">
				</i>AZYL
			</div>
		</a>
		<a href="Edycja/edycja_typ_azylu.html" class="tilelink">
			<div class="kafelek">
				</i>TYP AZYLU
			</div>
		</a>
		<div style="clear:both;"></div>
	</div>


	<div style="clear:both;"></div>

	<div class="rectangle">2021 &copy; Lena Ptak - System do zarządania bazą danych <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl</div>

</div>
</body>

</html>