{% include "base.html" %}
<div class="back" style="top: 100px; right: 230px;"><a href="{{ url_for('root_page') }}" class="tilelink">WRÓĆ</a></div>
<div id="container">

	<div class="rectangle">
		<div id="logo_new">
			<img src="{{ url_for('static', filename='img/logo2.png') }}" height=20% width=20% />
			<a href="index.html" class="tilelink">Mini Zoo
			</a>
		</div>
		<!--<div id="zegar">13:00</div>-->
		<div style="clear:both;"></div>
	</div>

	<div class="square">
		<a href="{{ url_for('select_basic_page') }}" class="tilelink">
			<div class="podst">
				<i class="icon-giraffe"></i>PODSTAWOWE
			</div>
		</a>

		<div style="clear:both;"></div>
			<a href="{{ url_for('select_advanced_page') }}" class="tilelink">
			<div class="zaawn">
				<i class="icon-th-list"></i>ZAAWANSOWANE
			</div>
		</a>

		<div style="clear:both;"></div>

	</div>

	<div class="square">
		<div class="zdjecia">
			<img src="{{ url_for('static', filename='img/ptaki1.jpg') }}" width=480 height=466>
		</div>
	</div>
	<div style="clear:both;"></div>

	<div class="rectangle">2021 &copy; Lena Ptak, Tomasz Pieścikowski <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl, tomasz.piescikowski@student.put.poznan.pl</div>

</div>
</body>

</html>
