<!DOCTYPE HTML>
<html lang="pl">

<head>
	<meta charset="utf-8"/>
	<title>Politechniczne Zoo</title>
	<meta name="description" content="Witamy w naszym bajecznym ogrodzie zoologicznym!"/>
	<meta name="keywords" content="zwierzeta, zwierze, zoo, ogrod, zoologiczny" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<!-- Nie wiem dlaczego, ale plik styles.css działa tylko ze ścieżką bezwględna -->
	<link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Lato|Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<script src="timer.js"></script>

</head>

<body onload="odliczanie();">

<div id="container">

	<div class="rectangle">
		<div id="logo_new">
			<img src="{{ url_for('static', filename='img/logo2.png') }}" height=20% width=20% />
			<a href="index.html" class="tilelink">Mini Zoo
			</a>
		</div>
		<div id="logo_przeglad">USUWANIE DANYCH</div>
		<!--<div id="zegar">13:00</div>-->
		<div style="clear:both;"></div>
	</div>

	<div class="square">
		<a href="{{ url_for('delete_zwierze_page') }}" class="tilelink">
			<div class="kafelek">
				<i class="icon-users"></i>ZWIERZĘ
			</div>
		</a>
		<a href="Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				<i class="icon-users"></i>KARMA
			</div>
		</a>
		<div style="clear:both;"></div>
		<a href="Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				<i class="icon-mail"></i>GATUNEK
			</div>
		</a>
		<a href="Usuwanie/usun_zwierzeta.html"" class="tilelink">
			<div class="kafelek">
				<i class="icon-giraffe"></i>RODZINA
			</div>
		</a>
		<div style="clear:both;"></div>

		<a href="Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				<i class="icon-users"></i>PAWILON
			</div>
		</a>
		<a href="Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				<i class="icon-users"></i>BILET
			</div>
		</a>
		<div style="clear:both;"></div>
	</div>

	<div class="square">
		<a href="Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				PRAWCOWNIK
			</div>
		</a>
		<a href="Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				<i class="icon-users"></i>ZESPOL
			</div>
		</a>
		<div style="clear:both;"></div>
		<a href="Usuwanie/usun_zwierzeta.html"" class="tilelink">
			<div class="kafelek">
				<i class="icon-mail"></i>TYP PRACOWNIKA
			</div>
		</a>
		<a href=Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				<i class="icon-giraffe"></i>GROMADA
			</div>
		</a>
		<div style="clear:both;"></div>

		<a href="Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				<i class="icon-users"></i>AZYL
			</div>
		</a>
		<a href="Usuwanie/usun_zwierzeta.html" class="tilelink">
			<div class="kafelek">
				<i class="icon-users"></i>TYP AZYLU
			</div>
		</a>
		<div style="clear:both;"></div>
	</div>


	<div style="clear:both;"></div>

	<div class="rectangle">2021 &copy; Lena Ptak - System do zarządania bazą danych <i class="icon-mail"></i> lena.ptak@student.put.poznan.pl</div>

</div>
</body>

</html>